.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main{
  background-color: grey;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.slider-holder
  {
      width: 100%;
      height: 400px;
      background-color: yellow;
      /* margin-left: auto;
      margin-right: auto;
      margin-top: 0px; */
      /* text-align: center; */
      overflow: hidden;
  }
  
  .image-holder
  {
      width: 2400px;
      background-color: red;
      height: 400px;
      clear: both;
      position: relative;
      
      -webkit-transition: left 2s;
      -moz-transition: left 2s;
      -o-transition: left 2s;
      transition: left 2s;
  }
  
  .slider-image
  {
      float: left;
      margin: 0px;
      padding: 0px;
      position: relative;
  }
  
  #slider-image-1:target ~ .image-holder
  {
      left: 0px;
  }
  
  #slider-image-2:target ~ .image-holder
  {
      left: -800px;
  }
  
  #slider-image-3:target ~ .image-holder
  {
      left: -1600px;
  }
  
  .button-holder
  {
      position: relative;
      top: -20px;
  }
  
  .slider-change
  {
      display: inline-block;
      height: 10px;
      width: 10px;
      border-radius: 5px;
      background-color: brown;
  }
  .req-quote{
    /* position: absolute;
    right: 0px;
    top: -35px; */
    margin-top: 5px;
  }
  @media (min-width: 768px) {
    .req-quote {
      position: absolute;
      right: 0px;
      top: -35px; } }

  .contact-number{
    width: 204px;
  }
  @media (min-width: 768px) {
    .contact-number {
      width: 194px; } }
  /* .container {
    width: 100%;
    }
    @media (min-width: 576px) {
      .container {
        max-width: 540px; } }
    @media (min-width: 768px) {
      .container {
        max-width: 720px; } }
    @media (min-width: 992px) {
      .container {
        max-width: 960px; } }
    @media (min-width: 1200px) {
      .container {
        max-width: 1140px; } } */